body{
    font-family: "Potta One", cursive;
    text-align: center;
}

h1{
     color: rgba(30, 30, 144, 0.384);
}

#board{
    width: 445px;
    height: 450px;
    background-color: rgb(225, 156, 242);

    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits{
    width: 445px;
    height: 48px;
    background-color: rgba(199, 109, 244, 0.571);

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-number{
    background-color: rgba(96, 35, 96, 0.224);
}

.tile-start{
    background-color: rgba(91, 13, 92, 0.188);
}
.horizontal-line {
    border-bottom: 1px solid black
}

.vertical-line {
    border-right: 1px solid black
}