body {
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#grid-board {
    width: 450px;
    height: 450px;
    display: grid;
}


#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;

}